.OurHome {
  background: rgb(245, 245, 245);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OurHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 2rem;
}

.InfoOur {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.ContenidOur {
  width: 80%;
}

.InfoOur img {
  display: flex;
}

.InfoOur p {
  width: 100%;
  line-height: 30px;
  font-size: 1rem;
}
