.adminNav {
  height: 100vh;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  gap: 38rem;
  background-color: #090909;
  border-right: 1px solid #57576a;
}

.adminNavExpanded { 
  width: 10rem;
}

.adminText {
  opacity: 0;
}

.adminText.visible {
  opacity: 1;
}

.adminText.novisible {
  display: none;
  transition: opacity 3s ease-in;

}

.back {
  z-index: 2;
  position: absolute;
  right: -26%;
  top: 3%;
  transition: width 0.2s ease-in-out;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navTop {
  margin-top: 5rem;
}

.adminNav h3 {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.adminNav span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.adminNav span a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: rgb(188, 188, 189);
}

.adminNav span a:hover {
  color: rgb(255, 255, 255);
}
