.adminNav {
  height: 100vh;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  gap: 36rem;
  min-width: 2rem;
  background-color: #090909;
  border-right: 1px solid #57576a;
}

.back {
  background-color: #090909;
  z-index: 2;
  position: absolute;
  right: -26%;
  top: 3%;
}

.navTop {
  margin-top: 5rem;
}

.adminNav h3 {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.adminNav span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.adminNav span a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: rgb(188, 188, 189);
}

.adminNav span a:hover {
  color: rgb(255, 255, 255);
}
