.homeContainer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
  gap: 5rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  gap: 1.5rem;
}

.title {
  display: flex;
  font-size: 65px;
  height: 1rem;
}

.spanTitle {
  width: 430px;
  line-height: 1.8;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 5rem;
  flex-wrap: wrap;
}

.payContainer {
  display: flex;
  width: 750px;
  padding: 0.2rem;
  justify-content: space-around;
  background-color: #111111;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.pays {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 0.5rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #0c0c0c;
}
