.navbar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: 2rem;
}

.STL {
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  margin-left: 60px;
}

.nav img {
  width: max-content;
}

.anchor {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.anchor {
  position: relative;
  padding-bottom: 4px;
}

.anchor::after {
  content: "";
  background-color: #0094ff;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
}

.anchor:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
